* {
    margin: 0px;
    padding: 0px;
        font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f5f5f6;
    ;
}

.logo_container {

    margin-left: 4%;
}

.logo {
    height: 45px;

}

.nav {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 20px;

}

.nav_content {
    text-decoration: none;
    font-weight: 650;
transition: left .2s ease-out, width .2s ease-out;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}

#men:hover {
    border-bottom: 5px solid #ee5f73;
    ;
}

#women:hover {
    border-bottom: 5px solid #fb56c1;
}

#kids:hover {
    border-bottom: 5px solid #f26a10;
}

#genz:hover {
    border-bottom: 5px solid #58fd74;
}

#studio:hover {
    border-bottom: 5px solid #ff3f6c;
}

#home:hover {
    border-bottom: 5px solid #f2c210;
}

#beauty:hover {
    border-bottom: 5px solid #0db7af;
}

.nav a sup {
    font-size: 75%;

    color: #ff3f6c;;
}

.search_bar {
    display: flex;
    min-width: 200px;
    align-items: center;
    width: 30%;
    margin-right: 20px;

}

.search_input {
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 5px 5px 0;
}

.search_icon {
    padding: 10px;
    background-color: #f5f5f6;
    height: 20px;
    border-radius: 5px 0 0 5px;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.action_container a{
    color: black;
    text-decoration: none;
}
.action_name{
    font-weight: 600;
}

.action_bar {
      margin-right: 1%;
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
}
.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.image{
    width: 96.2%;
}

.images{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item {
    width: 250px;
}
.imagestatic{
    position: absolute;
    right: 0%;
    bottom:21%;
    position: fixed;
}
.imagestatic2{
    position: absolute;
    right: 0%;
    bottom: 12%;
    right: 1.5%;
    position: fixed;
}
.footer_container1{
    display: flex;
    justify-content: space-evenly;
 

}

.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column a{
    color:#696b79 ;
    text-decoration: none;
}
.footer_column h3{
    color: #282c3f;
     font-size: 12px;
    font-weight: 700;
}

.footer_container2{
    display: flex;
    justify-content: space-evenly;
}
.footer_column2{
    display: flex;
    flex-direction: column;
    margin-left: 6.3%;
    margin-right: 6.3%;
}
.footer_column2 h3{
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.footer_column3{
    display: flex;
    justify-content: space-between;
    color:#696b79 ;
    
}
.footer_column3 a{
    color:  #526cd0;
    font-weight: 700;
    text-decoration: none;
}

.txtdeco{
    color: #696b79;
text-decoration: none;
}

